@page "/"
@attribute [Authorize]

<div class="container">
    <div class="row d-grid d-flex">
        @foreach(var category in CategoryList)
        {
            <div class="col-3 mb-3 cursor-pointer">
                <MudCard Outlined="true" @onclick="()=>ClickCategory(category)">
                    <MudCardMedia Image="@($"{ImageBaseUrl}/{category.ImageName}")" Class="zoom-in-out-animation" Height="200" />
                    <MudCardActions Class="d-flex justify-content-center">
                        <MudButton Variant="MudBlazor.Variant.Text" Color="Color.Primary">@category.CategoryName</MudButton>
                    </MudCardActions>
                </MudCard>
            </div>
        }      
    </div>
</div>


